<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title></title>

    <link rel="stylesheet" href="/assets/css/output.css" />

    <meta name="description" content="Page description" />
    <meta property="og:title" content="Unique page title - My Site" />
    <meta property="og:description" content="Page description" />
    <meta property="og:image" content="https://www.mywebsite.com/image.jpg" />
    <meta property="og:image:alt" content="Image description" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="https://www.mywebsite.com/page" />
    <link rel="canonical" href="https://www.mywebsite.com/page" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Baloo+Tamma+2&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/my.webmanifest" />
    <meta name="theme-color" content="#ffffff" />
  </head>

  <body class="bg-slate-50 dark:bg-zinc-900 text-slate-900 dark:text-slate-50">
    {% include "header.html" %} {% include "side-nav.html" %} {{ content }}

    <script defer>
      /*
       * Theme toggle (Dark - Light Mode)
       */
      const html = document.documentElement.classList;

      if (
        localStorage.theme === "dark" ||
        (!localStorage.theme &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        darkMode();
      }

      function darkMode() {
        html.add("dark");
        localStorage.theme = "dark";
      }

      function lightMode() {
        html.remove("dark");
        localStorage.theme = "light";
      }

      function toggleTheme() {
        localStorage.theme === "dark" ? lightMode() : darkMode();
      }

      /*
       * Side Nav Bar Toggle
       */
      const sideNav = document.getElementById("side-nav").classList;

      function toggleNavBar() {
        sideNav.contains("hidden") ? showNavBar() : hideNavBar();
      }

      function showNavBar() {
        document.body.style.overflow = "hidden";
        sideNav.remove("hidden");
      }

      function hideNavBar() {
        document.body.style.overflow = "scroll";
        sideNav.add("hidden");
      }
    </script>
  </body>
</html>
