<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ metaDescription }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ metaDescription }}" />
    {% if img %}
    <meta property="og:image" content="{{ img }}" />
    <meta property="og:image:alt" content="{{ title }}" />
    {% endif %}
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="Pritesh Tupe's Personal Website" />
    <meta property="og:url" content="https://www.priteshtupe.com/" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="white" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="black" />

    <link rel="canonical" href="https://www.priteshtupe.com/" />
    <link rel="icon" href="/assets/icons/favicon.ico" />
    <link rel="icon" href="/assets/icons/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="/assets/css/output.css" />

    <script>
      /*
       * Theme toggle (Dark - Light Mode)
       */
      const html = document.documentElement.classList

      if (
        localStorage.theme === "dark" ||
        (!localStorage.theme &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        darkMode()
      }

      function darkMode() {
        html.add("dark")
        localStorage.theme = "dark"
        if (window.REMARK42) window.REMARK42.changeTheme("dark")
      }

      function lightMode() {
        html.remove("dark")
        localStorage.theme = "light"
        localStorage.themeColor = "#ffffff"
        if (window.REMARK42) window.REMARK42.changeTheme("light")
      }

      function toggleTheme() {
        localStorage.theme === "dark" ? lightMode() : darkMode()
      }
    </script>

    <!---->

    {% if title %}
    <title>{{ title | append: " | Pritesh Tupe" }}</title>
    {% else %}
    <title>Pritesh Tupe</title>
    {% endif %}
  </head>

  <body class="bg-slate-50 dark:bg-zinc-900 text-slate-900 dark:text-slate-50">
    {% include "header.html" %} {% include "side-nav.html" %} {{ content }}

    <script defer>
      /*
       * Side Nav Bar Toggle
       */
      const sideNav = document.getElementById("side-nav").classList

      function toggleNavBar() {
        sideNav.contains("hidden") ? showNavBar() : hideNavBar()
      }

      function showNavBar() {
        document.body.style.overflow = "hidden"
        sideNav.remove("hidden")
      }

      function hideNavBar() {
        document.body.style.overflow = "scroll"
        sideNav.add("hidden")
      }
    </script>
  </body>
</html>
