<div class="fixed flex flex-row w-full justify-between pt-4 px-4">
  <div class="flex flex-row">
    {% if page.url != "/" %}
    <div
      title="Home"
      class="text-slate-400 hover:text-slate-700 dark:text-slate-700 dark:hover:text-indigo-400 mr-4"
      onclick="window.location.href = '/'"
    >
      <svg width="22" height="22" class="fill-current" viewBox="0 0 16 16">
        <path
          d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"
        />
      </svg>
    </div>
    {% endif %}

    <div
      title="Dark Mode Toggle"
      class="text-slate-400 hover:text-slate-700 dark:text-slate-700 dark:hover:text-indigo-400"
      onclick="toggleTheme()"
    >
      <svg width="24px" height="24px" viewBox="0 0 24 24" class="fill-current">
        <path
          d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8V16Z"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM12 4V8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16V20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4Z"
        />
      </svg>
    </div>
  </div>

  <div
    title="Side Menu Toggle"
    class="text-slate-400 hover:text-slate-700 dark:text-slate-700 dark:hover:text-indigo-400"
    onclick="toggleNavBar()"
  >
    <svg class="fill-current" width="24px" height="24px" viewBox="0 0 512 512">
      <path
        d="M32 96v64h448V96H32zm0 128v64h448v-64H32zm0 128v64h448v-64H32z"
      />
    </svg>
  </div>
</div>
