---
layout: base
title: Posts
---

<div
  class="prose prose-slate dark:prose-invert mx-auto py-16 prose md:prose-lg px-4 md:px-0">
  <div class="text-center">
    <h1>{{ title }}</h1>
    <h5>{{ date | date: "%B %Y" }}</h5>
  </div>

  <hr />

  {{ content }}

  <hr />

  <!---->
  {% assign sorted = collections.post | reverse %} {% assign prev = sorted |
  getPreviousCollectionItem: page %} {% assign next = sorted |
  getNextCollectionItem: page %} {% if prev or next %}
  <div class="flex flex-col md:flex-row w-full justify-between mt-16">
    {% if prev %}
    <a href="{{prev.url}}">
      {% include "partials/arrow-left.html" %} {{prev.data.title}}
    </a>
    {% endif %} {% if next %}
    <a href="{{next.url}}">
      {{next.data.title}} {% include "partials/arrow-right.html" %}
    </a>
    {% endif %}
  </div>
  {% endif %}

  <hr />

  <div id="remark42"></div>
</div>

<script>
  var remark_config = {
    host: "https://remark42.priteshtupe.com",
    site_id: "priteshtupe-personal-website",
    theme: localStorage.theme,
    show_email_subscription: false,
    show_rss_subscription: false,
    no_footer: true,
    components: ["embed", "last-comments"],
  }

  !(function (e, n) {
    for (var o = 0; o < e.length; o++) {
      var r = n.createElement("script"),
        c = ".js",
        d = n.head || n.body
      "noModule" in r ? ((r.type = "module"), (c = ".mjs")) : (r.async = !0),
        (r.defer = !0),
        (r.src = remark_config.host + "/web/" + e[o] + c),
        d.appendChild(r)
    }
  })(remark_config.components || ["embed"], document)
</script>
