[submodule "creatures"]
	path = creatures
	url = https://github.com/EMPAT94/creatures.git
[submodule "binary-clock"]
	path = binary-clock
	url = https://github.com/EMPAT94/binary-clock.git
[submodule "impossible-xo"]
	path = impossible-xo
	url = https://github.com/EMPAT94/impossible-xo.git
[submodule "Notes"]
	path = Notes
	url = git@github.com:EMPAT94/Notes.git
