---
title: Pritesh Tupe | Home
metaDescription: My personal site where I share my thoughts and works
---

<div class="summaryBox">
  <div class="smallLeftBox subtle">
    <img
      src="./assets/imgs/profilePic.jpg"
      alt="Profile Pic"
      height="200"
      width="200"
      style="border-radius: 200px"
    />
  </div>

  <div class="bigRightBox cursive" id="personalMsg">
    <p>
      Hello! I'm Pritesh. Programmer, Writer and Violinist. Welcome to my corner
      of the internet.
    </p>
    <p>
      Herein lies the messy collection of my life's experiences and
      imaginations.
    </p>
    <p>Do scroll below to explore my humble works.</p>
    <p>And have a pleasant stay!</p>
  </div>
</div>

<h1>Latest Posts</h1>

<ul class="postList">
  {% for post in site.posts limit:5 %}
  <li>
    <h3>
      <a href="{{ post.url }}">
        <span class="subtle"> {{ post.date | date: "%B %Y" }} »</span>
        {{ post.title }}
      </a>
    </h3>
  </li>
  {% endfor %}
  <li>
    <h5><a href="/blog">Show More...</a></h5>
  </li>
</ul>

<h1>Latest GS Chapters</h1>

<ul class="postList">
  {% assign sorted = site.gs | sort: 'part' | reverse %} {% for post in sorted
  limit:5 %}
  <li>
    <h3>
      <a href="{{ post.url }}"> {{ post.title }} </a>
    </h3>
  </li>
  {% endfor %}
  <li>
    <h5><a href="/gs">Show More...</a></h5>
  </li>
</ul>

<h1>Projects</h1>
<ul class="postList">
  <li>
    <h3><a href="/foa">Fate of Arda</a></h3>
  </li>
  <li>
    <h3><a href="/gs">Grand Simulation</a></h3>
  </li>
  <li>
    <h3>
      <a
        rel="noopener"
        target="_blank"
        href="https://www.priteshtupe.com/creatures"
        >Creatures &#128279;</a
      >
    </h3>
  </li>
  <li>
    <h3>
      <a
        rel="noopener"
        target="_blank"
        href="https://www.priteshtupe.com/binary-clock"
        >Binary Clock &#128279;</a
      >
    </h3>
  </li>
  <li>
    <h3>
      <a
        rel="noopener"
        target="_blank"
        href="https://www.priteshtupe.com/impossible-xo"
        >Impossible XO &#128279;</a
      >
    </h3>
  </li>
  <li>
    <h3>
      <a
        rel="noopener"
        target="_blank"
        href="https://www.github.com/empat94/nvim-rss"
        >Nvim-Rss &#x1f517;</a
      >
    </h3>
  </li>
</ul>

<h1>Other Links</h1>
<ul class="postList">
  <li>
    <h3><a href="/blog">Blog</a></h3>
  </li>
  <!-- <li>
    <h3><a href="/notes">Notes</a></h3>
  </li> -->
  <li>
    <h3><a href="/about">About</a></h3>
  </li>
  <li>
    <h3><a href="../feed.xml">RSS</a></h3>
  </li>
  <li>
    <h3>
      <a
        target="_blank"
        referrerpolicy="no-referrer"
        href="assets/docs/Pritesh_Tupe_Resume.pdf"
        download
        >Resume</a
      >
    </h3>
  </li>
  <div style="margin-top: 40px">{% include contacts.html %}</div>
</ul>
