---
title: Pritesh Tupe | Notes
metaDescription: Notes related to programming and writing
---

<h1>Notes</h1>

This is a work in progress, currently dumping markdowned notes here directly; will update UI soon!

<h2> ADB </h2>
<p>
{% capture ADB %} {% include notes/ADB.md %} {% endcapture %}
{{ ADB | markdownify }}
</p>

<h2> VIM </h2>
<p>
{% capture VIM %} {% include notes/VIM.md %} {% endcapture %}
{{ VIM | markdownify }}
</p>

<h2> NODEJS </h2>
<p>
{% capture NODEJS %} {% include notes/NODEJS.md %} {% endcapture %}
{{ NODEJS | markdownify }}
</p>

<h2> SQL </h2>
<p>
{% capture SQL %} {% include notes/SQL.md %} {% endcapture %}
{{ SQL | markdownify }}
</p>

<h2> SHELL </h2>
<p>
{% capture SHELL %} {% include notes/SHELL.md %} {% endcapture %}
{{ SHELL | markdownify }}
</p>

<h2> WRITING </h2>
<p>
{% capture WRITING %} {% include notes/WRITING.md %} {% endcapture %}
{{ WRITING | markdownify }}
</p>
