<div style="text-align: center">
  <div class="contactPoint">
    <a
      target="_blank"
      referrerpolicy="no-referrer"
      rel="noopener"
      href="mailto:priteshtupe@gmail.com"
    >
      <img alt="gmail-icon" src="/assets/icons/gmail.svg" />
    </a>
  </div>

  <div class="contactPoint">
    <a
      target="_blank"
      referrerpolicy="no-referrer"
      rel="noopener"
      href="https://github.com/empat94"
    >
      <img alt="github-icon" src="/assets/icons/github.svg" />
    </a>
  </div>

  <div class="contactPoint">
    <a
      target="_blank"
      referrerpolicy="no-referrer"
      rel="noopener"
      href="https://www.linkedin.com/in/priteshtupe/"
    >
      <img alt="linkedin-icon" src="/assets/icons/linkedin.svg" />
    </a>
  </div>

  <div class="contactPoint">
    <a
      target="_blank"
      referrerpolicy="no-referrer"
      rel="noopener"
      href="https://facebook.com/pritesh.tupe/"
    >
      <img alt="facebook-icon" src="/assets/icons/facebook.svg" />
    </a>
  </div>

  <div class="contactPoint">
    <a
      target="_blank"
      referrerpolicy="no-referrer"
      rel="noopener"
      href="https://instagram.com/pritesh.tupe/"
    >
      <img alt="instagram-icon" src="/assets/icons/instagram.svg" />
    </a>
  </div>
</div>
