<div style="text-align: center">
  <div class="contactPoint">
    <a target="_blank" referrerpolicy="no-referrer" href="mailto:priteshtupe@gmail.com">
      <img src="/assets/icons/gmail-svgrepo-com.svg" />
    </a>
  </div>

  <div class="contactPoint" style="border: 1px solid black; border-radius: 20px">
    <a target="_blank" referrerpolicy="no-referrer" href="https://github.com/empat94">
      <img src="/assets/icons/github-svgrepo-com.svg" />
    </a>
  </div>

  <div class="contactPoint">
    <a target="_blank" referrerpolicy="no-referrer" href="https://www.linkedin.com/in/priteshtupe/">
      <img src="/assets/icons/linkedin-svgrepo-com.svg" />
    </a>
  </div>

  <div class="contactPoint">
    <a target="_blank" referrerpolicy="no-referrer" href="https://facebook.com/pritesh.tupe/">
      <img src="/assets/icons/facebook-svgrepo-com.svg" />
    </a>
  </div>

  <div class="contactPoint">
    <a target="_blank" referrerpolicy="no-referrer" href="https://instagram.com/pritesh.tupe/">
      <img src="/assets/icons/instagram-svgrepo-com.svg" />
    </a>
  </div>
</div>
