<nav class="navBar">
  <h1 class="logo"><a href="/"> PRITESH </a></h1>

  <div class="menuBtn"><span onclick="toggleMenu(true)"> &#9776; </span></div>

  <div class="navModal" id="navMenu">
    <span class="menuBtnClose" onclick="toggleMenu(false)">&#x2715;</span>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/foa">Fate of Arda</a></li>
      <li><a href="/gs">Grand Simulation</a></li>
      <li><a href="/creatures">Creatures</a></li>
      <li><a href="/binary-clock">Binary Clock</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="../feed.xml">RSS</a></li>
    </ul>
  </div>
</nav>

<script>
  function toggleMenu(open) {
    if (open) document.getElementById("navMenu").style.display = "block";
    else document.getElementById("navMenu").style.display = "none";
  }
</script>
