<nav class="navBar">
  <h1 class="logo"><a href="/"> PRITESH </a></h1>

  <div class="menuBtn"><span onclick="toggleMenu(true)"> &#9776; </span></div>

  <div class="navModal" id="navMenu">
    <span class="menuBtnClose" onclick="toggleMenu(false)">&#x2715;</span>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <!-- <li><a href="/notes">Notes</a></li> -->

      <li style="color:grey">Stories:</li>
      <ul>
        <li><a href="/foa">Fate of Arda</a></li>
        <li><a href="/gs">Grand Simulation</a></li>
      </ul>

      <li style="color:grey">Open Source Projects:</li>
      <ul>
        <li>
          <a rel="noopener" target="_blank" href="../creatures/index.html">
            Creatures
          </a>
          <img
            width="20"
            style="margin: 0"
            class="white-filter"
            alt="external-link-icon"
            src="/assets/icons/external-link.svg"
          />
        </li>
        <li>
          <a rel="noopener" target="_blank" href="../binary-clock/index.html">
            Binary Clock
          </a>
          <img
            width="20"
            style="margin: 0"
            class="white-filter"
            alt="external-link-icon"
            src="/assets/icons/external-link.svg"
          />
        </li>

        <li>
          <a rel="noopener" target="_blank" href="../impossible-xo/index.html">
            Impossible XO
          </a>
          <img
            width="20"
            style="margin: 0"
            class="white-filter"
            alt="external-link-icon"
            src="/assets/icons/external-link.svg"
          />
        </li>

        <li>
          <a
            rel="noopener"
            target="_blank"
            href="https://www.github.com/empat94/nvim-rss"
          >
            Nvim RSS
          </a>
          <img
            width="20"
            style="margin: 0"
            class="white-filter"
            alt="external-link-icon"
            src="/assets/icons/external-link.svg"
          />
        </li>

        <li>
          <a
            rel="noopener"
            target="_blank"
            href="https://www.github.com/empat94/pingmon"
          >
            Pingmon
          </a>
          <img
            width="20"
            style="margin: 0"
            class="white-filter"
            alt="external-link-icon"
            src="/assets/icons/external-link.svg"
          />
        </li>

        <li>
          <a
            rel="noopener"
            target="_blank"
            href="https://www.github.com/empat94/zettel-merken"
          >
            Zettel Merken
          </a>
          <img
            width="20"
            style="margin: 0"
            class="white-filter"
            alt="external-link-icon"
            src="/assets/icons/external-link.svg"
          />
        </li>
      </ul>

      <li><a href="/about">About</a></li>
      <li><a href="../feed.xml">RSS</a></li>
    </ul>
  </div>
</nav>

<script>
  function toggleMenu(open) {
    if (open) {
      document.getElementById("navMenu").style.display = "block";
      document.body.style.overflow = "hidden";
    } else {
      document.getElementById("navMenu").style.display = "none";
      document.body.style.overflow = "scroll";
    }
  }
</script>
