@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Thin;
  src: url("fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: Roboto-Medium;
  src: url("fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto-Black;
  src: url("fonts/Roboto-Black.ttf");
}

html,
body {
  margin: 0px;
  padding: 0px;
  font-size: 1.099rem;
  line-height: 1.4em;
  letter-spacing: 0.09em;
  background-color: rgb(30, 30, 30);
  color: white;
  font-family: "Roboto-Thin", Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

/**/
.container {
  display: grid;
  grid-template-areas: "navBar" "mainContent";
}

/****************************
***** NAVIGATION BAR ********
*****************************/

nav {
  display: grid;
  grid-template-areas: "logo" "menuBar";
  grid-area: "navBar";
  background-color: black;
  color: white;
  border-bottom: 2px solid white;
  font-size: 1.5em;

  h1 {
    grid-area: "logo";
    margin: 0.5em;
    display: inline-block;
    font-family: "Roboto-Black", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;

    a {
      color: wheat;
    }
  }

  .menuBar {
    grid-area: "menuBar";
    margin: 1em;
    text-align: center;
    display: inline-block;

    a {
      display: inline-block;
      color: white;
      margin-left: 1em;
      font-family: "Roboto-Medium", Verdana, Geneva, Tahoma, sans-serif;

      .current {
        color: grey;
      }
    }

    a:hover {
      color: grey;
    }
  }

  .mobileMenuBar {
    display: none;
    grid-area: "mobileMenuBar";
  }

  #mobileMenu {
    display: none;
    ul {
      margin-top: 0;
      li {
        list-style-type: none;
        text-align: right;
        a {
          display: inline-block;
          color: white;
          margin: 0.5em;
          font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;

          .current {
            color: grey;
          }
        }
      }
    }
  }
}

/****/
.mainContent {
  grid-area: "mainContent";
  padding: 5% 15% 15% 15%;

  .postList {
    a {
      color: aliceblue;
    }

    a:hover {
      color: cornflowerblue;
    }
  }
}

@media only screen and (max-width: 720px) {
  nav {
    grid-area: "logo mobileMenuBar";
    grid-template-columns: 90% 10%;

    .menuBar {
      display: none;
    }
    .mobileMenuBar {
      display: block;
      margin-top: 50%;
    }
  }

  .mainContent {
    padding: 5% 5% 5% 5%;
  }
}
