/*************************
********* GLOBAL *********
**************************/

html,
body {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 1.099rem;
  line-height: 1.4em;
  letter-spacing: 0.08em;
  background-color: rgb(30, 30, 30);
  color: white;
  font-family: 'Gentium Basic', serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

code {
  padding: 1em;
  display: block;
  background-color: rgb(40, 40, 40);
  overflow-x: scroll;
}

img {
  max-width: 100%;
  height: auto;
  margin: 5% 0;
}

/*************************
********* LAYOUT *********
**************************/

/* Default */

.container {
  display: grid;
  grid-template-areas: "navBar" "mainContent";

  .navBar {
    grid-area: navBar;
  }
  .mainContent {
    grid-area: mainContent;
    line-height: 2;
    font-size: 1.1em;
  }
}

/* About Me */

.aboutMe {
  display: grid;
  grid-template-areas: "contactMe myStory";
  grid-template-columns: 30% 70%;
  .contactMe {
    grid-area: contactMe;
  }
  .myStory {
    grid-area: myStory;
  }
}

div#personalMessage {
  font-family: 'Homemade Apple', cursive;
  color: grey;
}

h1, h2, h3, h4 {
  font-family: 'Jura', sans-serif;
  font-weight: bold;
}

h1 {
  color: cornflowerblue;
}

h2 {
  color: rgb(155, 66, 155);
}

/****************************
***** COMPONENT STYLES ******
*****************************/

/* Navigation Bar */

nav {
  display: grid;
  grid-template-areas: "logo" "menuBar";

  background-color: black;
  color: white;
  border-bottom: 2px solid white;
  font-size: 1.5em;

  h1 {
    grid-area: logo;
    margin: 0.5em;
    display: inline-block;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    letter-spacing: 0.3em;

    a {
      color: teal;
    }

  }

  .menuBar {
    grid-area: menuBar;
    margin: 1em;
    text-align: center;
    display: inline-block;

    a {
      display: inline-block;
      color: white;
      margin-left: 1em;
      font-family: 'Jura', sans-serif;

      .current {
        color: grey;
      }
    }

    a:hover {
      color: grey;
    }
  }

  .menuToggleBtn {
    display: none;
    grid-area: menuToggleBtn;
  }

  #mobileMenu {
    display: none;
    ul {
      margin-top: 0;
      li {
        list-style-type: none;
        text-align: right;
        a {
          display: inline-block;
          color: white;
          margin: 0.5em;

          .current {
            color: grey;
          }
        }
      }
    }
  }
}

/* Content Area */

.mainContent {
  padding: 5% 15% 15% 15%;

  .postList {
    a {
      color: aliceblue;
    }

    a:hover {
      color: cornflowerblue;
    }
  }
}

.postFooter {
  width:100%;
  text-align:center;
  margin-top: 40px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 10px;

  a {
    color: green;
  }
}

/* Contact Me */

.contactMe {
  img {
    border-radius: 1em;
  }

  a {
    text-decoration: blueviolet;
    color: lightgray;
    div {
      font-size: 0.8em;
    }
  }
}

/*****************************
*********** MOBILE ***********
******************************/

@media only screen and (max-width: 720px) {
  code {
    max-width: 20em;
  }

  .container {
    nav {
      grid-template-areas: "logo menuToggleBtn";
      grid-template-columns: 90% 10%;
      .menuBar {
        display: none;
      }
      .menuToggleBtn {
        display: block;
        padding-top: 40%;
      }
    }
    .mainContent {
      padding: 5%;
    }
    .aboutMe {
      display: grid;
      grid-template-areas: "contactMe" "myStory";
      grid-template-columns: auto;

      .contactMe {
        text-align: center;
      }
    }
  }
}

